@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Enforce hardware GPU acceleration for smooth 60FPS vector animations on Android Head Units */
  .gpu-accelerated {
    will-change: transform, opacity;
    transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
}

body {
  background-color: #090d16;
  color: #f8fafc;
  overflow-x: hidden;
}
